# The data is in jscon.gz,First defining a function getDF to get jscon file in dataframe format.

In [ ]:
import numpy as np
import pandas as pd
import gzip
import json
# Hide warnings
import warnings

warnings.simplefilter("ignore", UserWarning)
warnings.simplefilter("ignore", FutureWarning)
warnings.simplefilter("ignore", DeprecationWarning)

# Defining a function for exctracting information from json to dataframe.

In [ ]:
def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield json.loads(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index'

# Defining a function for checking null values.

In [ ]:
def cal_missing_value(df):
    total=df.isnull().sum().sort_values(ascending=False)
    percentage=(df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data=pd.concat([total,percentage], axis=1, keys=['Total','Percentage'])
    return missing_data

# First we load the required dataframe and merge them after that gor for data cleaning part.

# Loaded Cd and Vinyl reviews data into CDs_and_Vinyl.

In [ ]:
CDs_and_Vinyl=getDF('/content/drive/MyDrive/Project /CDs_and_Vinyl_5.json.gz')

In [ ]:
CDs_and_Vinyl.head(5)

,reviewerID,asin,reviewerName,verified,reviewText,overall,reviewTime,summary,unixReviewTime,style,vote,image
0,A1H1DL4K669VQ9,0001393774,Judith Paladino,True,Love it!! Great seller!,5.0,"04 29, 2016",Five Stars,1461888000,NaN,NaN,NaN
1,A3V5XBBT7OZG5G,0001393774,gflady,True,One of my very favourite albums from one of my...,5.0,"02 23, 2016",One of my very favourite albums from one of my...,1456185600,NaN,NaN,NaN
2,A3SNL7UJY7GWBI,0001393774,Lady Leatherneck,True,"THank you Jesus Lord God, that brother Green's...",5.0,"02 11, 2016",Five Stars,1455148800,NaN,NaN,NaN
3,A3478QRKQDOPQ2,0001393774,jacki,True,I recall loving his other albums and maybe thi...,5.0,"11 28, 2015",forgot but I figured on some of these artists ...,1448668800,NaN,NaN,NaN
4,A23M5VTSN2C3H1,0001393774,Caliope,True,Keith Green was a pioneer in the field of Chri...,5.0,"12 16, 2014",and I have loved every album he did,1418688000,NaN,NaN,NaN

In [ ]:
CDs_and_Vinyl1=CDs_and_Vinyl.copy()

# Loaded office products reviews data into Office_Products.

In [ ]:
Office_Products=getDF('/content/drive/MyDrive/Project /Office_Products_5.json.gz')

In [ ]:
Office_Products.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,4.0,True,"11 7, 2017",A2NIJTYWADLK57,0140503528,{'Format:': ' Board book'},cotton clay,kids like story BUT while i really wanted a bo...,"good story, small size book though",1510012800,NaN,NaN
1,4.0,True,"03 7, 2017",A2827D8EEURMP4,0140503528,{'Format:': ' Hardcover'},emankcin,Bought this used and it came in great conditio...,Good,1488844800,NaN,NaN
2,5.0,True,"06 25, 2016",APB6087F4J09J,0140503528,{'Format:': ' Board book'},Starbucks Fan,Every story and book about Corduroy is Fantast...,Best Books for All Children,1466812800,NaN,NaN
3,5.0,True,"02 21, 2016",A2DHERRZIPFU7X,0140503528,{'Format:': ' Paperback'},Caitlyn Jacobson,I purchased this book for my first grade class...,Great for Math!,1456012800,NaN,NaN
4,5.0,False,"08 2, 2015",A2XCLJRGFANRC,0140503528,{'Format:': ' Hardcover'},E. Ervin,Having spent numerous years in an elementary s...,Love Corduroy,1438473600,NaN,NaN

In [ ]:
Office_Products1=Office_Products.copy()

In [ ]:
Office_Products1.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime
0,4.0,True,"11 7, 2017",A2NIJTYWADLK57,0140503528,{'Format:': ' Board book'},cotton clay,kids like story BUT while i really wanted a bo...,"good story, small size book though",1510012800
1,4.0,True,"03 7, 2017",A2827D8EEURMP4,0140503528,{'Format:': ' Hardcover'},emankcin,Bought this used and it came in great conditio...,Good,1488844800
2,5.0,True,"06 25, 2016",APB6087F4J09J,0140503528,{'Format:': ' Board book'},Starbucks Fan,Every story and book about Corduroy is Fantast...,Best Books for All Children,1466812800
3,5.0,True,"02 21, 2016",A2DHERRZIPFU7X,0140503528,{'Format:': ' Paperback'},Caitlyn Jacobson,I purchased this book for my first grade class...,Great for Math!,1456012800
4,5.0,False,"08 2, 2015",A2XCLJRGFANRC,0140503528,{'Format:': ' Hardcover'},E. Ervin,Having spent numerous years in an elementary s...,Love Corduroy,1438473600

#  merged this dataframe Office_Products1,CDs_and_Vinyl1 into one by concat into Merged_df1.

In [ ]:
frame=[Office_Products1,CDs_and_Vinyl1]

In [ ]:
Merged_df1=pd.concat(frame)

In [ ]:
Merged_df1.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,4.0,True,"11 7, 2017",A2NIJTYWADLK57,0140503528,{'Format:': ' Board book'},cotton clay,kids like story BUT while i really wanted a bo...,"good story, small size book though",1510012800,NaN,NaN
1,4.0,True,"03 7, 2017",A2827D8EEURMP4,0140503528,{'Format:': ' Hardcover'},emankcin,Bought this used and it came in great conditio...,Good,1488844800,NaN,NaN
2,5.0,True,"06 25, 2016",APB6087F4J09J,0140503528,{'Format:': ' Board book'},Starbucks Fan,Every story and book about Corduroy is Fantast...,Best Books for All Children,1466812800,NaN,NaN
3,5.0,True,"02 21, 2016",A2DHERRZIPFU7X,0140503528,{'Format:': ' Paperback'},Caitlyn Jacobson,I purchased this book for my first grade class...,Great for Math!,1456012800,NaN,NaN
4,5.0,False,"08 2, 2015",A2XCLJRGFANRC,0140503528,{'Format:': ' Hardcover'},E. Ervin,Having spent numerous years in an elementary s...,Love Corduroy,1438473600,NaN,NaN

# Now Loading  meta data of cd and vinyls in meta_CDs_and_Vinyl

In [ ]:
meta_CDs_and_Vinyl=getDF('/content/drive/MyDrive/Project /meta_CDs_and_Vinyl.json.gz')

In [ ]:
meta_CDs_and_Vinyl.head()

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,"[CDs & Vinyl, Christian]",,[],,Songs for the Shepherd,"[B0016CP2GS, B0000075PB, B0000275QQ, B00000I7J...",,Keith Green,[],"123,896 in CDs & Vinyl (","[B0016CP2GS, B00000I7JO, B00000I9AH, B00P826ZR...","<img src=""https://images-na.ssl-images-amazon....",,,,0001393774,[],[],NaN
1,"[CDs & Vinyl, Christian, Pop & Contemporary]",,[],,Lift Him Up With Ron Kenoly VHS,"[6303908845, 6303646611, B000008GO1]",,,[],"284,935 in Movies & TV (",[B00000DUDE],Movies & TV,,,,0001501348,[],[],NaN
2,"[CDs & Vinyl, Christian, Children's]",,[],,I Love You,[],,Integrity Music,[],"1,138,833 in CDs & Vinyl (",[],"<img src=""https://images-na.ssl-images-amazon....",,,,0001515209,[],[],NaN
3,"[CDs & Vinyl, Christian, Children's]",,[1) To God Be The Glory2) This Is My Fathers W...,,Hymns: 16 Classic Hymns for Children,"[B00000DPLJ, B000008UPG, B00BQH9RKA, B00KYVHGR...",,Sue Gay,[],"271,064 in CDs & Vinyl (","[B00000DPLL, 0843113006, B00BQH9RKA, B000008UP...","<img src=""https://images-na.ssl-images-amazon....",,,.a-section.a-spacing-mini{margin-bottom:6px!im...,0005072298,[],[],NaN
4,"[CDs & Vinyl, Christian, Children's]",,[Joy To The World 2 The First Noel 3 Hark! The...,,Christmas Carols,"[B0010WAC50, B00000DPLJ]",,Cedarmont Kids,[],"409,293 in CDs & Vinyl (","[B00000DPKG, B0010WAC50, B00000DPKH, B00FSZPM8...","<img src=""https://images-na.ssl-images-amazon....",,,,0005121515,[],[],NaN

#  Loaded meta data office data into meta_Office_Products

In [ ]:
meta_Office_Products=getDF('/content/drive/MyDrive/Project /meta_Office_Products.json.gz')

In [ ]:
meta_Office_Products.head()

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,"[Office Products, Office & School Supplies, Ed...","class=""a-keyvalue prodDetTable"" role=""present...",[Sequential Spelling is based on the classic O...,,Sequential Spelling Level 1 Bundle with Studen...,[],,STL Distributors,[],"[>#439,654 in Office Products (See top 100), >...","[1935943065, 1935943073, B00IJH9Q4M, 002115021...",Office Products,"class=""a-bordered a-horizontal-stripes a-spa...","August 15, 2014",$32.90,0012624861,[],[],NaN
1,"[Office Products, Office &amp; School Supplies...",,"[Unusual book, , ]",,"Mathematics, Applications and Concepts, Course...",[],,bailey,[],"3,839,628 in Books (",[],Books,,,$8.62,0078652669,[],[],NaN
2,[],"class=""a-keyvalue prodDetTable"" role=""present...",[Pearson MyHistoryLab Online Access Code for A...,,Pearson MyHistoryLab Online Access Code for Am...,[],,Pearson MyHistoryLab,[Pearson MyHistoryLab Online Access Code for A...,"[>#1,925,354 in Office Products (See top 100)]",[],Office Products,,"June 21, 2012",$0.99,0136039847,[],[],NaN
3,"[Office Products, Office & School Supplies, Ed...","class=""a-keyvalue prodDetTable"" role=""present...",[Corduroy the bear goes to the launderette wit...,,A Pocket for Corduroy,"[0140501738, 0448421917, 0670063428, 042528875...",,Ingram Book & Distributor,[9780140503524],"[>#422,894 in Office Products (See top 100), >...",[0140501738],Office Products,,"September 14, 2006",$0.95,0140503528,[],[],NaN
4,"[Office Products, Office & School Supplies, Ed...",,"[<div class=""aplus""> <div class=""leftImage"" st...",,Social Entrepreneurship: What Everyone Needs t...,"[0195334760, 1613630328, 1422104060, 158648956...",,Visit Amazon's David Bornstein Page,[],"110,732 in Books (","[0195334760, 1586489569, 1613630328, 142210406...",Books,,,,0195396332,[],[],NaN

# Now merging meta data of both files cd and office into one Merged_meta_data.and extacting important columns ['title','price','rank','brand','category','asin'],where  we can get information of products and storing it in Merged_meta_data1

In [ ]:
frames1=[meta_CDs_and_Vinyl,meta_Office_Products]

In [ ]:
Merged_meta_data=pd.concat(frames1)

In [ ]:
Merged_meta_data.head()

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,"[CDs & Vinyl, Christian]",,[],,Songs for the Shepherd,"[B0016CP2GS, B0000075PB, B0000275QQ, B00000I7J...",,Keith Green,[],"123,896 in CDs & Vinyl (","[B0016CP2GS, B00000I7JO, B00000I9AH, B00P826ZR...","<img src=""https://images-na.ssl-images-amazon....",,,,0001393774,[],[],NaN
1,"[CDs & Vinyl, Christian, Pop & Contemporary]",,[],,Lift Him Up With Ron Kenoly VHS,"[6303908845, 6303646611, B000008GO1]",,,[],"284,935 in Movies & TV (",[B00000DUDE],Movies & TV,,,,0001501348,[],[],NaN
2,"[CDs & Vinyl, Christian, Children's]",,[],,I Love You,[],,Integrity Music,[],"1,138,833 in CDs & Vinyl (",[],"<img src=""https://images-na.ssl-images-amazon....",,,,0001515209,[],[],NaN
3,"[CDs & Vinyl, Christian, Children's]",,[1) To God Be The Glory2) This Is My Fathers W...,,Hymns: 16 Classic Hymns for Children,"[B00000DPLJ, B000008UPG, B00BQH9RKA, B00KYVHGR...",,Sue Gay,[],"271,064 in CDs & Vinyl (","[B00000DPLL, 0843113006, B00BQH9RKA, B000008UP...","<img src=""https://images-na.ssl-images-amazon....",,,.a-section.a-spacing-mini{margin-bottom:6px!im...,0005072298,[],[],NaN
4,"[CDs & Vinyl, Christian, Children's]",,[Joy To The World 2 The First Noel 3 Hark! The...,,Christmas Carols,"[B0010WAC50, B00000DPLJ]",,Cedarmont Kids,[],"409,293 in CDs & Vinyl (","[B00000DPKG, B0010WAC50, B00000DPKH, B00FSZPM8...","<img src=""https://images-na.ssl-images-amazon....",,,,0005121515,[],[],NaN

# Taking required columns only from merged meta data.

In [ ]:
Merged_meta_data1=Merged_meta_data[['title','price','rank','brand','category','asin']]

In [ ]:
Merged_meta_data1.head()

,title,price,rank,brand,category,asin
0,Songs for the Shepherd,,"123,896 in CDs & Vinyl (",Keith Green,"[CDs & Vinyl, Christian]",0001393774
1,Lift Him Up With Ron Kenoly VHS,,"284,935 in Movies & TV (",,"[CDs & Vinyl, Christian, Pop & Contemporary]",0001501348
2,I Love You,,"1,138,833 in CDs & Vinyl (",Integrity Music,"[CDs & Vinyl, Christian, Children's]",0001515209
3,Hymns: 16 Classic Hymns for Children,.a-section.a-spacing-mini{margin-bottom:6px!im...,"271,064 in CDs & Vinyl (",Sue Gay,"[CDs & Vinyl, Christian, Children's]",0005072298
4,Christmas Carols,,"409,293 in CDs & Vinyl (",Cedarmont Kids,"[CDs & Vinyl, Christian, Children's]",0005121515

# Now merging Merged_meta_data1 and Merged_meta_data1 which has reviews data of both cd and office data into one dataframe Amazon_products

In [ ]:
Amazon_products= pd.merge(Merged_df1, Merged_meta_data1, on ='asin')

In [ ]:
Amazon_products

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,title,price,rank,brand,category
0,4.0,True,"11 7, 2017",A2NIJTYWADLK57,0140503528,{'Format:': ' Board book'},cotton clay,kids like story BUT while i really wanted a bo...,"good story, small size book though",1510012800,NaN,NaN,A Pocket for Corduroy,$0.95,"[>#422,894 in Office Products (See top 100), >...",Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed..."
1,4.0,True,"03 7, 2017",A2827D8EEURMP4,0140503528,{'Format:': ' Hardcover'},emankcin,Bought this used and it came in great conditio...,Good,1488844800,NaN,NaN,A Pocket for Corduroy,$0.95,"[>#422,894 in Office Products (See top 100), >...",Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed..."
2,5.0,True,"06 25, 2016",APB6087F4J09J,0140503528,{'Format:': ' Board book'},Starbucks Fan,Every story and book about Corduroy is Fantast...,Best Books for All Children,1466812800,NaN,NaN,A Pocket for Corduroy,$0.95,"[>#422,894 in Office Products (See top 100), >...",Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed..."
3,5.0,True,"02 21, 2016",A2DHERRZIPFU7X,0140503528,{'Format:': ' Paperback'},Caitlyn Jacobson,I purchased this book for my first grade class...,Great for Math!,1456012800,NaN,NaN,A Pocket for Corduroy,$0.95,"[>#422,894 in Office Products (See top 100), >...",Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed..."
4,5.0,False,"08 2, 2015",A2XCLJRGFANRC,0140503528,{'Format:': ' Hardcover'},E. Ervin,Having spent numerous years in an elementary s...,Love Corduroy,1438473600,NaN,NaN,A Pocket for Corduroy,$0.95,"[>#422,894 in Office Products (See top 100), >...",Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490405,5.0,True,"08 17, 2017",A1U3N8OJYYZYNB,B01HGGA2BW,{'Format:': ' Audio CD'},Elena A,good,Five Stars,1502928000,2,NaN,Leontyne Price - Prima Donna Assoluta - Her Ul...,$65.88,"42,365 in CDs & Vinyl (",Leontyne Price,"[CDs & Vinyl, Classical]"
2490406,5.0,True,"04 27, 2017",A2A2QGGPSG2DLJ,B01HGGA2BW,{'Format:': ' Audio CD'},C. Scott Harrison,It's Leontyne Price. Enough said.,Price!,1493251200,2,NaN,Leontyne Price - Prima Donna Assoluta - Her Ul...,$65.88,"42,365 in CDs & Vinyl (",Leontyne Price,"[CDs & Vinyl, Classical]"
2490407,4.0,True,"04 3, 2017",A8GV20LZ4TC19,B01HGGA2BW,{'Format:': ' Audio CD'},champ,used to have most on l p. happy to update,happy to,1491177600,NaN,NaN,Leontyne Price - Prima Donna Assoluta - Her Ul...,$65.88,"42,365 in CDs & Vinyl (",Leontyne Price,"[CDs & Vinyl, Classical]"
2490408,5.0,True,"11 18, 2016",A1S5D0XYGNOB5X,B01HGGA2BW,{'Format:': ' Audio CD'},Arthur Wilson,Wonderful reissue of Leontyne Price's opera re...,Five Stars,1479427200,9,NaN,Leontyne Price - Prima Donna Assoluta - Her Ul...,$65.88,"42,365 in CDs & Vinyl (",Leontyne Price,"[CDs & Vinyl, Classical]"
2490409,5.0,True,"11 6, 2016",A2SM0ZYEM5EAWF,B01HGGA2BW,{'Format:': ' Audio CD'},Amazon Customer,Leontyne Price's voice was the first operatic ...,A magnificent treasure chest of splendid singing,1478390400,16,NaN,Leontyne Price - Prima Donna Assoluta - Her Ul...,$65.88,"42,365 in CDs & Vinyl (",Leontyne Price,"[CDs & Vinyl, Classical]"

# Copying amazon products into new datad frame for modifying.

In [ ]:
Amazon_products1=Amazon_products.copy()

# Threating the null or missing values.

# This Amazon_products1 is the final data of ours on this we can check for null values

In [ ]:
cal_missing_value(Amazon_products)

                  Total  Percentage
image           2474305    0.993533
vote            1842913    0.740004
style            382300    0.153509
reviewText          514    0.000206
summary             395    0.000159
reviewerName        222    0.000089
brand                 0    0.000000
rank                  0    0.000000
price                 0    0.000000
title                 0    0.000000
overall               0    0.000000
unixReviewTime        0    0.000000
verified              0    0.000000
asin                  0    0.000000
reviewerID            0    0.000000
reviewTime            0    0.000000
category              0    0.000000

# Checking index of null values.

In [ ]:
import pandas as pd

# Load the DataFrame
# df = pd.read_csv("data.csv")

# Iterate over the columns
for column in Amazon_products1.columns:
  # Find the indexes of null values in the column
  idx = Amazon_products1[column].isnull().to_numpy().nonzero()[0]
  
  # Print the result
  print(f"Indexes of null values in column {column}: {[idx]}")

Indexes of null values in column overall: [array([], dtype=int64)]
Indexes of null values in column verified: [array([], dtype=int64)]
Indexes of null values in column reviewTime: [array([], dtype=int64)]
Indexes of null values in column reviewerID: [array([], dtype=int64)]
Indexes of null values in column asin: [array([], dtype=int64)]
Indexes of null values in column style: [array([    150,     151,     152, ..., 2487578, 2487579, 2489211])]
Indexes of null values in column reviewerName: [array([   5801,    6541,    6709,   17724,   17725,   29034,   29035,
         32950,   32951,   35072,   35073,   39848,   39849,   40190,
         40191,   53194,   53195,   66038,   66039,   79874,   79875,
         89872,   89873,  109370,  109371,  125770,  125771,  147674,
        147675,  155026,  155027,  168952,  168953,  182244,  182245,
        198574,  198575,  202802,  202803,  213940,  213941,  219758,
        219759,  228474,  228475,  240426,  241021,  241626,  251221,
        257070,  262360,  263355,  264747,  264748,  264749,  264750,
        264814,  264883,  267509,  272156,  272289,  283198,  283204,
        295680,  296100,  296574,  301164,  302602,  307847,  309215,
        310031,  310048,  320358,  337007,  337031,  342261,  342294,
        352899,  352922,  353409,  353427,  370589,  370599,  423626,
        423632,  424287,  424335,  446361,  455002,  460177,  462873,
        468975,  470275,  471496,  473675,  478404,  479924,  499324,
        505879,  510245,  516008,  526679,  526995,  527050,  533190,
        546879,  559119,  561081,  579330,  580305,  591516,  591805,
        594819,  599288,  599462,  621345,  627262,  640305,  647511,
        661550,  670173,  677015,  687208,  692280,  695316,  698585,
        699317,  701129,  701503,  702028,  706920,  708558,  712349,
        712771,  717771,  725467,  732083,  748068,  748678,  754988,
        757039,  763378,  772763,  800075,  809936,  815335,  815469,
        819708,  839665,  845930,  848438,  848749,  853765,  873255,
        882099,  882100,  885778,  886415,  888900,  892237,  901690,
        925297,  929740,  994211, 1031978, 1033815, 1035674, 1037992,
       1040108, 1042561, 1045150, 1055279, 1060895, 1071397, 1096165,
       1125660, 1200320, 1224390, 1256673, 1282533, 1289826, 1338498,
       1338499, 1338772, 1338773, 1369294, 1369295, 1380880, 1380881,
       1401904, 1401905, 1402856, 1402857, 1442946, 1442947, 1480516,
       1480517, 1493920, 1493921, 1508042, 1508043, 1523460, 1523461,
       1540702, 1540703, 1708682, 1708683, 1714748, 1714749, 1800204,
       1800205, 1888972, 1922727, 1928448, 1957635, 2022347, 2022574,
       2089723, 2184539, 2283542, 2344543, 2392915])]
Indexes of null values in column reviewText: [array([    555,    3330,    4936,   10540,   10541,   16506,   16507,
         33854,   33855,   42532,   42533,   59452,   59453,   63930,
         63931,   73448,   73449,   75014,   75015,   82218,   82219,
         85252,   85253,   90934,   90935,   96434,   96435,   99280,
         99281,  109558,  109559,  118140,  118141,  132658,  132659,
        133284,  133285,  138650,  138651,  138928,  138929,  157098,
        157099,  167254,  167255,  170450,  170451,  171160,  171161,
        171730,  171731,  173388,  173389,  192940,  192941,  200808,
        200809,  206390,  206391,  217454,  217455,  222834,  222835,
        228628,  228629,  244860,  245850,  250560,  253348,  253911,
        255616,  258553,  259348,  259349,  261121,  261143,  263511,
        272557,  274857,  276097,  280915,  281165,  282292,  289969,
        292552,  303416,  304823,  320410,  326946,  327551,  334766,
        334927,  337563,  338137,  348139,  348199,  350188,  350286,
        370218,  370240,  383598,  383663,  407663,  407689,  410118,
        410266,  433943,  444820,  446427,  447712,  448068,  448353,
        453273,  467066,  476216,  479008,  480841,  487106,  495610,
        496382,  499576,  506053,  509756,  514968,  516470,  517456,
        517649,  517740,  519752,  526214,  528310,  542043,  543266,
        557662,  559010,  563654,  573469,  577792,  585100,  592378,
        597225,  608569,  612868,  613724,  615227,  615477,  615485,
        615621,  616908,  617667,  620029,  623778,  636900,  636901,
        641986,  643491,  651831,  652743,  660686,  661168,  662342,
        662510,  665308,  670592,  671364,  685077,  685223,  687003,
        696089,  705917,  705918,  707485,  724443,  728653,  730670,
        733015,  736590,  738712,  740074,  745837,  747823,  748441,
        749817,  753552,  754041,  757994,  759379,  759915,  768416,
        768422,  777717,  779305,  779339,  783502,  786141,  788413,
        789022,  791516,  792244,  795500,  798695,  801019,  802034,
        802040,  807671,  808113,  808466,  811742,  820289,  822689,
        822737,  826495,  827358,  832180,  836077,  837398,  841437,
        844992,  845558,  849328,  853433,  855165,  857333,  858583,
        862937,  864546,  864986,  868620,  871235,  874295,  874972,
        877317,  878034,  880102,  880147,  882426,  885123,  889481,
        899441,  902671,  907880,  908133,  910657,  914515,  922072,
        924778,  927579,  934238,  934305,  934699,  939287,  944693,
        953502,  953696,  953714,  965947,  979790,  987760,  991346,
        998490, 1004099, 1004104, 1025173, 1031374, 1046267, 1053205,
       1061497, 1063812, 1064518, 1066918, 1074301, 1074774, 1086695,
       1095121, 1105782, 1118825, 1124270, 1125899, 1126875, 1130540,
       1135607, 1142624, 1154282, 1154913, 1174529, 1191544, 1203441,
       1222246, 1222588, 1223574, 1225447, 1227107, 1236422, 1237549,
       1237867, 1246615, 1254643, 1265855, 1271856, 1286320, 1287270,
       1288617, 1299026, 1301025, 1304986, 1306509, 1307794, 1318883,
       1326455, 1327772, 1334868, 1334869, 1351624, 1351625, 1360782,
       1360783, 1375426, 1375427, 1404652, 1404653, 1421646, 1421647,
       1421664, 1421665, 1439178, 1439179, 1459970, 1459971, 1469752,
       1469753, 1495614, 1495615, 1521988, 1521989, 1524378, 1524379,
       1530700, 1530701, 1542302, 1542303, 1558666, 1558667, 1577272,
       1577273, 1587848, 1587849, 1629700, 1629701, 1652502, 1652503,
       1665556, 1665557, 1735600, 1735601, 1751548, 1751549, 1765200,
       1765201, 1795226, 1795227, 1819581, 1819582, 1868172, 1868840,
       1878595, 1886542, 1886626, 1888985, 1891628, 1892765, 1893001,
       1895654, 1896648, 1905424, 1912693, 1927959, 1928994, 1937208,
       1938183, 1941570, 1944923, 1944936, 1949617, 1953432, 1962304,
       1965520, 1967331, 1977340, 1979140, 1981750, 1991674, 1991813,
       1995411, 1995906, 1998666, 1998709, 2007381, 2007441, 2030383,
       2045875, 2046128, 2048610, 2049059, 2052356, 2084104, 2085634,
       2088803, 2092555, 2093980, 2103205, 2103952, 2114232, 2114944,
       2116092, 2123868, 2129234, 2131660, 2134205, 2135291, 2140416,
       2140458, 2140488, 2146469, 2148563, 2149757, 2153498, 2156840,
       2162039, 2163385, 2165150, 2165260, 2168618, 2174342, 2181712,
       2182951, 2190006, 2192175, 2197166, 2205474, 2210989, 2211214,
       2212893, 2215149, 2219259, 2220975, 2223085, 2227372, 2227435,
       2231589, 2231895, 2233180, 2233289, 2235435, 2240151, 2242891,
       2248779, 2251861, 2254437, 2258737, 2263619, 2266441, 2272622,
       2278328, 2280577, 2281366, 2283163, 2308543, 2316812, 2317501,
       2318622, 2323966, 2323989, 2327077, 2330744, 2331475, 2332479,
       2335403, 2337448, 2343050, 2343552, 2343733, 2346134, 2350953,
       2352534, 2358360, 2362314, 2362713, 2362874, 2364456, 2365159,
       2370567, 2373327, 2380153, 2389748, 2390456, 2392794, 2392967,
       2402167, 2428251, 2428252, 2460007, 2461750, 2464615, 2468464,
       2470797, 2472311, 2475030, 2478522, 2481404, 2482109, 2482761,
       2485630, 2488000, 2488428])]
Indexes of null values in column summary: [array([  40234,   40235,   43254,   43255,   52024,   52025,   56718,
         56719,   62056,   62057,   62156,   62157,   94704,   94705,
         97156,   97157,  104854,  104855,  109256,  109257,  124238,
        124239,  138098,  138099,  138100,  138101,  157098,  157099,
        166958,  166959,  175572,  175573,  199812,  199813,  251905,
        254394,  256342,  277205,  279116,  283010,  289482,  291425,
        306912,  318945,  323171,  329432,  354456,  354642,  365364,
        365550,  402776,  403853,  416725,  416969,  419135,  419157,
        419607,  419629,  441480,  446446,  454645,  472243,  472581,
        475333,  476216,  476637,  476749,  506053,  512077,  517649,
        521509,  521878,  522992,  533452,  536479,  541335,  542238,
        542825,  543266,  544270,  565739,  567125,  579039,  601759,
        607506,  608569,  611796,  619710,  620029,  630591,  640059,
        641383,  641986,  652692,  655135,  656110,  658408,  660588,
        661596,  667196,  674950,  675717,  677982,  684580,  687785,
        704519,  712683,  718318,  730670,  732252,  732679,  734890,
        745668,  756159,  757994,  758946,  762624,  769671,  771559,
        778706,  779332,  791516,  801085,  808529,  810514,  811742,
        813141,  814405,  828861,  832180,  834776,  842269,  842742,
        844992,  848631,  853718,  857904,  864941,  868620,  870598,
        876824,  888866,  892653,  893812,  895207,  896833,  945144,
        946861,  953696,  981901,  991074, 1026701, 1026993, 1049493,
       1051957, 1061401, 1062261, 1067476, 1113458, 1125195, 1129717,
       1135264, 1147244, 1151695, 1160402, 1168662, 1174616, 1183296,
       1257569, 1260079, 1260454, 1261684, 1286320, 1291424, 1295426,
       1301025, 1321227, 1332634, 1332635, 1357992, 1357993, 1358326,
       1358327, 1392418, 1392419, 1402352, 1402353, 1433714, 1433715,
       1451248, 1451249, 1458712, 1458713, 1530262, 1530263, 1579086,
       1579087, 1587848, 1587849, 1641768, 1641769, 1654404, 1654405,
       1658416, 1658417, 1661714, 1661715, 1669818, 1669819, 1686454,
       1686455, 1730206, 1730207, 1732280, 1732281, 1735870, 1735871,
       1757256, 1757257, 1765200, 1765201, 1786182, 1786183, 1792964,
       1792965, 1797950, 1797951, 1800636, 1800637, 1801274, 1801275,
       1810692, 1810693, 1811454, 1811455, 1820269, 1820270, 1821001,
       1821002, 1821011, 1821012, 1832093, 1832094, 1836457, 1836458,
       1840439, 1840440, 1846666, 1847085, 1848168, 1854619, 1854696,
       1858056, 1858630, 1865490, 1867433, 1884401, 1886626, 1892686,
       1893789, 1894881, 1896525, 1898717, 1899691, 1900018, 1902027,
       1904726, 1906822, 1908189, 1909121, 1909485, 1909593, 1910479,
       1914461, 1914955, 1917739, 1920709, 1922778, 1926729, 1928994,
       1932655, 1938458, 1939882, 1941570, 1942788, 1944936, 1949722,
       1956864, 1957675, 1963906, 1967331, 1977340, 1979140, 1981074,
       1995294, 1995411, 1995789, 1995906, 2004391, 2004475, 2032783,
       2032903, 2050362, 2055420, 2076276, 2085634, 2092555, 2093980,
       2103952, 2113313, 2123816, 2131660, 2134205, 2135291, 2140416,
       2140488, 2144025, 2153498, 2156778, 2162039, 2162042, 2174342,
       2181792, 2200069, 2205294, 2207618, 2210989, 2212893, 2215110,
       2221696, 2223436, 2227435, 2233289, 2240365, 2240713, 2248779,
       2254437, 2255562, 2258737, 2266441, 2276928, 2280577, 2282143,
       2302167, 2303487, 2303869, 2307240, 2314758, 2317501, 2318800,
       2320152, 2329681, 2330150, 2336942, 2351183, 2352380, 2359290,
       2361820, 2362314, 2363988, 2365087, 2365159, 2367897, 2369308,
       2372468, 2376160, 2444056, 2444057, 2448880, 2448881, 2449722,
       2449723, 2450456, 2450457, 2450818, 2450819, 2452224, 2452225,
       2452424, 2453004, 2453198, 2454487, 2456867, 2457559, 2459072,
       2461081, 2462863, 2469536, 2472311, 2473768, 2475476, 2475909,
       2481398, 2482396, 2488301])]
Indexes of null values in column unixReviewTime: [array([], dtype=int64)]
Indexes of null values in column vote: [array([      0,       1,       2, ..., 2490401, 2490403, 2490407])]
Indexes of null values in column image: [array([      0,       1,       2, ..., 2490407, 2490408, 2490409])]
Indexes of null values in column title: [array([], dtype=int64)]
Indexes of null values in column price: [array([], dtype=int64)]
Indexes of null values in column rank: [array([], dtype=int64)]
Indexes of null values in column brand: [array([], dtype=int64)]
Indexes of null values in column category: [array([], dtype=int64)]

# Steps   followed to threat null values 
#1) Column vise if the null values are more then 50 % not going consider then or drop that column.

#2)Remaing columns which have null values less then 50% we will use interploate method.

#3) the columns which have nulls less then 2% or 1% dropped them.

# Here we can observe that image and vote column has more then 50% null values sor dropping that columns.

In [ ]:
Amazon_products1.drop(columns=['image','vote'],inplace =True)

# We also observed that there are values which are not identified in null value detection but are empty like ='' so we will check for that as well.

In [ ]:
Amazon_products1.loc[Amazon_products1['price']=='']

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,title,price,rank,brand,category
11,5.0,True,"11 14, 2016",A3F5YTCGCUS27L,0310432065,{'Format:': ' Diary'},Marilyn Snoddy,What I needed,Five Stars,1479081600,Tri-Fold Organizer Black XXL Book and Bible Cover,,"787,995 in Books (",Visit Amazon's Zondervan Page,"[Office Products, Office &amp; School Supplies..."
12,5.0,True,"10 27, 2016",AN2FZ6SBNYDDQ,0310432065,{'Format:': ' Diary'},Thomas Lawson,perfect for my larger bible NIV Zondervan stud...,Five Stars,1477526400,Tri-Fold Organizer Black XXL Book and Bible Cover,,"787,995 in Books (",Visit Amazon's Zondervan Page,"[Office Products, Office &amp; School Supplies..."
13,5.0,True,"08 4, 2016",A2W0001LSKE9YB,0310432065,{'Format:': ' Diary'},Katy,Bought for a gift,Five Stars,1470268800,Tri-Fold Organizer Black XXL Book and Bible Cover,,"787,995 in Books (",Visit Amazon's Zondervan Page,"[Office Products, Office &amp; School Supplies..."
14,5.0,True,"07 21, 2016",A2AXULQJ2Q88HX,0310432065,{'Format:': ' Diary'},Amazon Customer,Wonderful,Five Stars,1469059200,Tri-Fold Organizer Black XXL Book and Bible Cover,,"787,995 in Books (",Visit Amazon's Zondervan Page,"[Office Products, Office &amp; School Supplies..."
15,5.0,True,"07 15, 2016",A2F5UTO40QTZRH,0310432065,{'Format:': ' Diary'},Twinrocks,My husband loves this for carrying his large B...,Nice and protective.,1468540800,Tri-Fold Organizer Black XXL Book and Bible Cover,,"787,995 in Books (",Visit Amazon's Zondervan Page,"[Office Products, Office &amp; School Supplies..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490395,4.0,True,"03 3, 2018",A3NTAY3KSYHW09,B01HFPDJ1Y,{'Format:': ' Vinyl'},Jonathan Dale,Old school atmospheric death metal. It is ver...,Rearranged the table,1520035200,Starspawn,,"35,587 in CDs & Vinyl (",Blood Incantation,"[CDs & Vinyl, Metal]"
2490396,5.0,True,"07 17, 2017",ALQSBQNCE8DNV,B01HFPDJ1Y,{'Format:': ' MP3 Music'},usefulidiot,If you asked me whether or not I'd like to hea...,Stellar,1500249600,Starspawn,,"35,587 in CDs & Vinyl (",Blood Incantation,"[CDs & Vinyl, Metal]"
2490397,5.0,True,"12 12, 2016",A2G4OSOFC98DC8,B01HFPDJ1Y,{'Format:': ' Audio CD'},Scott Rosenbluth,Everybody else here said it. They're right. I...,"In Space, No One Can Hear You Scream ""COSMIC S...",1481500800,Starspawn,,"35,587 in CDs & Vinyl (",Blood Incantation,"[CDs & Vinyl, Metal]"
2490398,5.0,False,"11 20, 2016",A254RFFJDTFJKJ,B01HFPDJ1Y,{'Format:': ' Audio CD'},Brasington,Best metal album 2016. Cross Morbid Angel with...,Epic instant metal classic,1479600000,Starspawn,,"35,587 in CDs & Vinyl (",Blood Incantation,"[CDs & Vinyl, Metal]"
2490399,5.0,True,"09 13, 2016",A3JIT75BQDXEWQ,B01HFPDJ1Y,{'Format:': ' Audio CD'},A. Stone,Starspawn is a superb album from start to fini...,Bloody brilliant audio incantations,1473724800,Starspawn,,"35,587 in CDs & Vinyl (",Blood Incantation,"[CDs & Vinyl, Metal]"

In [ ]:
Amazon_products1['price'].value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            447156
$9.99                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        30716
$11.98                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       27732
$13.98                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       27538

# Removing noise from price dataset.

# Removing  dollar sign from price dataset.

In [ ]:
Amazon_products1['price'] = Amazon_products1['price'].str.strip("$")

Removing "'" from price dataset.

In [ ]:
Amazon_products1['price'] = Amazon_products1['price'].str.strip("'")

# Keeping only numeric values.

In [ ]:
Amazon_products1['price'] = Amazon_products1['price'].apply(lambda x: pd.to_numeric(str(x).strip("'"), errors='coerce'))

In [ ]:
Amazon_products1['price'] = Amazon_products1.price.astype(float)

In [ ]:
Amazon_products1['price'].value_counts()

9.99      30716
11.98     27732
13.98     27538
8.99      18181
12.99     16680
          ...
81.64         1
35.24         1
59.24         1
26.11         1
120.00        1
Name: price, Length: 5527, dtype: int64

In [ ]:
cal_missing_value(Amazon_products1)

                 Total  Percentage
price           494065    0.198387
style           382300    0.153509
reviewText         514    0.000206
summary            395    0.000159
reviewerName       222    0.000089
overall              0    0.000000
verified             0    0.000000
reviewTime           0    0.000000
reviewerID           0    0.000000
asin                 0    0.000000
unixReviewTime       0    0.000000
title                0    0.000000
rank                 0    0.000000
brand                0    0.000000
category             0    0.000000

# Here we can see that price after doing preprocessing there null values in the data.

# We will use interpolate to impute the null values.

In [ ]:
# imputation of price column
for i in range(2000):
    Amazon_products1['price'] = Amazon_products1['price'].interpolate(method = 'linear', limit = 5,limit_direction='forward')

In [ ]:
cal_missing_value(Amazon_products1)

                 Total  Percentage
style           382300    0.153509
reviewText         514    0.000206
summary            395    0.000159
reviewerName       222    0.000089
overall              0    0.000000
verified             0    0.000000
reviewTime           0    0.000000
reviewerID           0    0.000000
asin                 0    0.000000
unixReviewTime       0    0.000000
title                0    0.000000
price                0    0.000000
rank                 0    0.000000
brand                0    0.000000
category             0    0.000000

In [ ]:
Amazon_products1['rank']

0          [>#422,894 in Office Products (See top 100), >...
1          [>#422,894 in Office Products (See top 100), >...
2          [>#422,894 in Office Products (See top 100), >...
3          [>#422,894 in Office Products (See top 100), >...
4          [>#422,894 in Office Products (See top 100), >...
                                 ...
2490405                              42,365 in CDs & Vinyl (
2490406                              42,365 in CDs & Vinyl (
2490407                              42,365 in CDs & Vinyl (
2490408                              42,365 in CDs & Vinyl (
2490409                              42,365 in CDs & Vinyl (
Name: rank, Length: 2490410, dtype: object

In [ ]:
Amazon_products1.drop(columns='rank',inplace=True)

# The rank column as same rank for different product id  if so it does not give that much info.so dropping this as well.

In [ ]:
Amazon_products1['overall'].value_counts()

5.0    1701621
4.0     445585
3.0     179656
1.0      84776
2.0      78772
Name: overall, dtype: int64

# Overall gives us the ratings and most of the product has 5 star ratings.

In [ ]:
Amazon_products1['verified'].value_counts()

True     1578137
False     912273
Name: verified, dtype: int64

# Verified means the person who wrote the review is verified or not.

In [ ]:
Amazon_products1['reviewTime'].value_counts()

03 1, 2016     1855
01 20, 2016    1795
02 20, 2015    1735
02 18, 2016    1684
02 23, 2015    1680
               ...
12 17, 1997       1
02 17, 1998       1
06 10, 1998       1
03 21, 1998       1
03 17, 1998       1
Name: reviewTime, Length: 7472, dtype: int64

In [ ]:
Amazon_products1['reviewTime'].dtypes

dtype('O')

# Review time is in object converting it into date and time format.

In [ ]:
Amazon_products1['reviewTime'] = pd.to_datetime(Amazon_products1['reviewTime'])
Amazon_products1['reviewTime']

0         2017-11-07
1         2017-03-07
2         2016-06-25
3         2016-02-21
4         2015-08-02
             ...
2490405   2017-08-17
2490406   2017-04-27
2490407   2017-04-03
2490408   2016-11-18
2490409   2016-11-06
Name: reviewTime, Length: 2490410, dtype: datetime64[ns]

In [ ]:
Amazon_products1['Year'] = Amazon_products1['reviewTime'].dt.year 
Amazon_products1['Month'] = Amazon_products1['reviewTime'].dt.month

In [ ]:
Amazon_products1['Year'].value_counts()

2015    385492
2016    357043
2014    299863
2017    243809
2013    183669
2005     93950
2018     93830
2004     90991
2012     84902
2003     76128
2006     71366
2008     68717
2002     66799
2007     66451
2001     61636
2011     61128
2000     60978
2009     58752
2010     50270
1999     12321
1998      2312
1997         3
Name: Year, dtype: int64

In [ ]:
Amazon_products1['Month'].value_counts()

1     230546
3     228209
12    216885
2     209629
8     206506
7     205993
4     205363
10    202964
5     201250
11    198522
9     194635
6     189908
Name: Month, dtype: int64

# Extracted month and year  from date time format.

In [ ]:
Amazon_products1['reviewerID'].value_counts()

A9Q28YTLYREO7     3976
A3HU0B9XUEVHIM    2069
A2AIMXT9PLAM12    2051
A8IFUOL8S9BZC     1860
A2U49LUUY4IKQQ    1839
                  ...
A3C9F05CE5Y023       1
A1JOU8WNVDZAEP       1
A31NO3YCZDEM2D       1
ALC6A4ZHCKSAU        1
A3KFIDJ3ECCVGT       1
Name: reviewerID, Length: 208917, dtype: int64

# A9Q28YTLYREO7  Has given maximum review

In [ ]:
Amazon_products1['asin'].value_counts()

B00006IEEV    4516
B00006IFEU    3774
B00006IFI5    3712
B00006JNJD    3472
B00006IFJ0    2966
              ...
B001666OQQ       1
B0016NDDIG       1
B0016SZMT4       1
B0017006DS       1
B0011367GQ       1
Name: asin, Length: 95534, dtype: int64

# Asin is the product id B00006IEEV   is most reviewed product or most buyed product.

In [ ]:
Amazon_products1['reviewerName'].value_counts()

Amazon Customer               96421
Kindle Customer                8044
MAXIMILLIAN MUHAMMAD           3976
Mike                           2503
Chris                          2483
                              ...
Robinmp                           1
Travis B Tomiampos                1
ChristinaV                        1
Tok cutter                        1
RITA &amp; BRIDGETT LYNCH         1
Name: reviewerName, Length: 167331, dtype: int64

In [ ]:
Amazon_products1['reviewText'].value_counts()

great                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   9929
good                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    8020
Great                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   7147
Good                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    4409
ok                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      3902
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
Steven Wilson is the remix god.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Not much difference but nice sounding, clearer.  Casual listeners need not but if you're just starting to get in to Chicago this is a great start.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
Tremendous follow up to their debut record. Steven Wilson truly did a great remix/newmix with this record.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Review is for the new Steven Wilson Remix. Chicago 2 was released when I was a freshman in high school and at the time there was a lot of unrest going on in America. My thoughts, other than the usual things...were a lot about hoping the war in Vietnam would be over with before I was old enough to be drafted because my parents certainly could not afford to send me to college so if my number came up I would be forced to go. Something incidentally kids in high school for decades now have never had to even think about...the draft... seriously anyway. It made a huge difference in a lot of lives people now just can't relate to. There is time. Anyway, I was lucky enough to be able to live right between two good sized college campuses that both had great radio stations where I could learn about bands on my little GE Wildcat receiver record player. Many hours listening long into the night gave me a great appreciation for the rock music of the time that's for sure. About this Wilson Remix, put it this way, if you are of the opinion that the guitar solo in 25 or 6 to 4 is one of Kaths best then get this, put on some decent headphones and be amazed! It all just sounds so good! The song It Better End Soon was a real eye opener for a 14 year old that's for sure!       1
Leontyne Price's voice was the first operatic voice I fell in love with.  It was she who opened the door for me nearly sixty years ago when I heard some of her first aria recital ("The Blue Album" as it was called) on the radio.  Her first recording of AIDA was my first operatic purchase, and I was bewitched from then on.  I've been fortunate enough to see her in concerts and recitals over the years, and her artistry and voice have remained overwhelming.  I cannot write dispassionately about her.  She is one of a kind and irreplaceable.  It is delightful to have all of these recordings so handsomely refurbished and so conveniently collected.  I wish the set could have included all of her complete recordings, but Decca owns some of those (AIDA and ARIADNE), and they chose not to duplicate operas, so we only get her first FORZA and second TROVATORE.  I'm also fond of her DON GIOVANNI Elvira, which is not included; it is a pity her magnificent Donna Anna was not recorded.  But no matter, what is here, is first-rate and well worth hearing, especially at this incredibly low price.  A great gift for every opera lover!                                                                                                                                                  1
Name: reviewText, Length: 1707048, dtype: int64

# Conclusion*:
We have process the review text remove the impurity to get proper info ,but from this is we can most of the reviews are great.

# Cleaning the review text.
Removing punctuation and special characters

In [ ]:
import re 
import string 
def reviewText_cleaning(text):
    
    
    text = str(text).lower()                                                      # Converting into smaller case.
    text = re.sub('https?://\S+|www\.\S+', '', text)                              # Removing urls links.
    text = re.sub('<.*?>+', '', text)                                             # Removing special characters.
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)               # Removing punctuation.
    text = re.sub('\n', '', text)                                                 # removing new lines.
    text = re.sub('\w*\d\w*', '', text)                                           # removing words containing numbers.
    return text

In [ ]:
Amazon_products1['reviewText']=Amazon_products1['reviewText'].apply(lambda x:reviewText_cleaning(x))

In [ ]:
Amazon_products1['reviewText']

0          kids like story but while i really wanted a bo...
1          bought this used and it came in great conditio...
2          every story and book about corduroy is fantast...
3          i purchased this book for my first grade class...
4          having spent numerous years in an elementary s...
                                 ...
2490405                                                 good
2490406                      its leontyne price  enough said
2490407             used to have most on l p happy to update
2490408    wonderful reissue of leontyne prices opera rec...
2490409    leontyne prices voice was the first operatic v...
Name: reviewText, Length: 2490410, dtype: object

In [ ]:
Amazon_products1['summary'].value_counts()

Five Stars                                            419077
Four Stars                                             64340
Three Stars                                            20872
One Star                                                6191
Two Stars                                               5789
                                                       ...
Maybe a bit overrated...                                   1
A Solid, Easy-to-Listen to Greatest Hit's Package!         1
Better than a Philly Cheesesteak                           1
Great Anthology, But NERVOUS NIGHT Is Definitive           1
A magnificent treasure chest of splendid singing           1
Name: summary, Length: 1202459, dtype: int64

# Summary gives us the details about the product here also we can see the most product are five star.

In [ ]:
Amazon_products1['title'].value_counts()

<span id="parentalAdvisory" class="a-size-medium a-color-secondary a-text-normal"                                                                       69885
Greatest Hits                                                                                                                                            7426
<span class="a-size-medium a-color-secondary a-text-normal"                                                                                              5096
Prismacolor 3598T Premier Colored Pencils, Soft Core, 48 Pack                                                                                            4516
Sharpie Permanent Markers, Fine Point, Purple, 12-Pack (30008)                                                                                           3774
                                                                                                                                                        ...
Star Wars Boba Fett Super Deformed 7&quot; Plush Toy                                                                                                        1
Dell T0529 (Black) &amp; T0530 (Color) Compatible Ink Cartridges For Dell A920 Or Dell 720 Printers                                                         1
Martin Yale 912RS3G Master Catalog Steel Rack Starter Set, Gray, 12&quot; Filing Capacity, 25&quot; Wing-Wing Length, Heavy-gauge Steel Construction        1
ADVANTUS Swivel-Back Clip-On Retractable ID Reels with Badge Holders, 30-Inch Cord, Pack of 12, Black (75548)                                               1
Jenkins: Stabat Mater                                                                                                                                       1
Name: title, Length: 86853, dtype: int64

In [ ]:
Amazon_products1['title']=Amazon_products1['title'].replace(to_replace='<span id="parentalAdvisory" class="a-size-medium a-color-secondary a-text-normal"',value='parentalAdvisory',regex=True)
Amazon_products1['title']=Amazon_products1['title'].replace(to_replace='<span class="a-size-medium a-color-secondary a-text-normal"',value='parentalAdvisory',regex=True)
Amazon_products1['title'].value_counts()

parentalAdvisory                                                                                                                                        74981
Greatest Hits                                                                                                                                            7426
Prismacolor 3598T Premier Colored Pencils, Soft Core, 48 Pack                                                                                            4516
Sharpie Permanent Markers, Fine Point, Purple, 12-Pack (30008)                                                                                           3774
Sharpie 37003 Ultra-Fine Permanent Marker, Marks on Paper and Plastic, Resist Fading and Water, AP Certified, Blue Color, Pack of 12                     3712
                                                                                                                                                        ...
Star Wars Boba Fett Super Deformed 7&quot; Plush Toy                                                                                                        1
Dell T0529 (Black) &amp; T0530 (Color) Compatible Ink Cartridges For Dell A920 Or Dell 720 Printers                                                         1
Martin Yale 912RS3G Master Catalog Steel Rack Starter Set, Gray, 12&quot; Filing Capacity, 25&quot; Wing-Wing Length, Heavy-gauge Steel Construction        1
ADVANTUS Swivel-Back Clip-On Retractable ID Reels with Badge Holders, 30-Inch Cord, Pack of 12, Black (75548)                                               1
Jenkins: Stabat Mater                                                                                                                                       1
Name: title, Length: 86852, dtype: int64

# we can see that title of product has noise in the data.

In [ ]:
Amazon_products1['brand'].value_counts()

Avery                          40323
Sharpie                        29810
HP                             27002
Various Artists                26344
Canon                          25274
                               ...
Lucky Dube                         1
Debbie & Friends                   1
Made Popular By: Vince Gill        1
Jack Capon                         1
Schaedler                          1
Name: brand, Length: 26138, dtype: int64

# Most of the products belongs to Avery brand.

# ------------------------------------------------------------------------------

# Extracting category and subcategory.
 Now it is visible that in column name category there multiple names which implies to product id which  category and sub category it belong and are in list form  so now exctracting info into new columns category and subcategory  for comparison by using to list() function.

In [ ]:
Amazon_products1_category = pd.DataFrame(Amazon_products1['category'].tolist()).add_prefix('sub_category_')
Amazon_products1_category.rename(columns = {'sub_category_0':'category(1)','sub_category_1':'sub_category(1)'}, inplace = True)

In [ ]:
Amazon_products1_category1=Amazon_products1_category.drop(Amazon_products1_category.iloc[:,2:],axis=1)

In [ ]:
Amazon_products1=pd.concat([Amazon_products1,Amazon_products1_category1],axis=1)

In [ ]:
Amazon_products1.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,title,price,brand,category,Year,Month,category(1),sub_category(1)
0,4.0,True,2017-11-07,A2NIJTYWADLK57,0140503528,{'Format:': ' Board book'},cotton clay,kids like story but while i really wanted a bo...,"good story, small size book though",1510012800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2017,11,Office Products,Office & School Supplies
1,4.0,True,2017-03-07,A2827D8EEURMP4,0140503528,{'Format:': ' Hardcover'},emankcin,bought this used and it came in great conditio...,Good,1488844800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2017,3,Office Products,Office & School Supplies
2,5.0,True,2016-06-25,APB6087F4J09J,0140503528,{'Format:': ' Board book'},Starbucks Fan,every story and book about corduroy is fantast...,Best Books for All Children,1466812800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2016,6,Office Products,Office & School Supplies
3,5.0,True,2016-02-21,A2DHERRZIPFU7X,0140503528,{'Format:': ' Paperback'},Caitlyn Jacobson,i purchased this book for my first grade class...,Great for Math!,1456012800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2016,2,Office Products,Office & School Supplies
4,5.0,False,2015-08-02,A2XCLJRGFANRC,0140503528,{'Format:': ' Hardcover'},E. Ervin,having spent numerous years in an elementary s...,Love Corduroy,1438473600,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2015,8,Office Products,Office & School Supplies

In [ ]:
cal_missing_value(Amazon_products1)

                  Total  Percentage
style            382300    0.153509
sub_category(1)   17638    0.007082
category(1)       17638    0.007082
summary             395    0.000159
reviewerName        222    0.000089
price                 0    0.000000
Month                 0    0.000000
Year                  0    0.000000
category              0    0.000000
brand                 0    0.000000
overall               0    0.000000
title                 0    0.000000
verified              0    0.000000
reviewText            0    0.000000
asin                  0    0.000000
reviewerID            0    0.000000
reviewTime            0    0.000000
unixReviewTime        0    0.000000

# Conclusion:*
 In The above we can see that are nulls values created after extracting values from category column as category(1) and sub_category(1) since there were sum missing value in the list of category column.

So we will impute it by interpolate method.

#Interpolate Imputation
 After trying out different range of i this one was efficient.

In [ ]:
for i in range(500):
  Amazon_products1['category(1)']= Amazon_products1['category(1)'].interpolate(method = 'pad',limit =5,limit_direction='forward')

In [ ]:
for i in range(500):
  Amazon_products1['sub_category(1)']= Amazon_products1['sub_category(1)'].interpolate(method = 'pad',limit =5,limit_direction='forward')

In [ ]:
for i in range(600):
  Amazon_products1['style']= Amazon_products1['style'].interpolate(method = 'pad',limit =5,limit_direction='forward')

In [ ]:
for i in range(20):
  Amazon_products1['reviewerName']= Amazon_products1['reviewerName'].interpolate(method = 'pad',limit =5,limit_direction='forward')

In [ ]:
Amazon_products1

In [ ]:
cal_missing_value(Amazon_products1)

                 Total  Percentage
summary            395    0.000159
overall              0    0.000000
title                0    0.000000
category(1)          0    0.000000
Month                0    0.000000
Year                 0    0.000000
category             0    0.000000
brand                0    0.000000
price                0    0.000000
unixReviewTime       0    0.000000
verified             0    0.000000
reviewText           0    0.000000
reviewerName         0    0.000000
style                0    0.000000
asin                 0    0.000000
reviewerID           0    0.000000
reviewTime           0    0.000000
sub_category(1)      0    0.000000

In [ ]:
Amazon_products1.shape

(2490015, 18)

# Conclusion:
####Data is fully cleaned now.

# Extracting description from style column.
We can see similar info in style ,which gives us the discription about the product.like which its format ,color,size.

In [ ]:
Amazon_products1['style1']=Amazon_products1['style'].astype(str)

In [ ]:
Amazon_products1['style1']=Amazon_products1['style1'].str.replace('\W',' ')
Amazon_products1['style1']=Amazon_products1['style1'].str.replace('\s+',' ')

In [ ]:
Amazon_products1['style1']=Amazon_products1['style1'].str.replace(' ',',')

In [ ]:
Amazon_products1['style1']

0          ,Format,Board,book,
1           ,Format,Hardcover,
2          ,Format,Board,book,
3           ,Format,Paperback,
4           ,Format,Hardcover,
                  ...
2490405      ,Format,Audio,CD,
2490406      ,Format,Audio,CD,
2490407      ,Format,Audio,CD,
2490408      ,Format,Audio,CD,
2490409      ,Format,Audio,CD,
Name: style1, Length: 2490410, dtype: object

In [ ]:
Amazon_products1['style1'] = Amazon_products1['style1'].str.split(',')

In [ ]:
Amazon_products1['style1']

0          [, Format, Board, book, ]
1            [, Format, Hardcover, ]
2          [, Format, Board, book, ]
3            [, Format, Paperback, ]
4            [, Format, Hardcover, ]
                     ...
2490405      [, Format, Audio, CD, ]
2490406      [, Format, Audio, CD, ]
2490407      [, Format, Audio, CD, ]
2490408      [, Format, Audio, CD, ]
2490409      [, Format, Audio, CD, ]
Name: style1, Length: 2490410, dtype: object

In [ ]:
Amazon_products1_style = pd.DataFrame(Amazon_products1['style1'].tolist()).add_prefix('style_')

In [ ]:
Amazon_products1_style['style_2']=Amazon_products1_style['style_2'] + " " + Amazon_products1_style['style_3']

In [ ]:
Amazon_products1_style.head()

,style_0,style_1,style_2,style_3,style_4,style_5,style_6,style_7,style_8,style_9,...,style_12,style_13,style_14,style_15,style_16,style_17,style_18,style_19,style_20,style_21
0,,Format,Board book,book,,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,,Format,Hardcover,,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,,Format,Board book,book,,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,,Format,Paperback,,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,,Format,Hardcover,,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
Amazon_products1_style=Amazon_products1_style.drop(Amazon_products1_style.iloc[:,3:],axis=1)

In [ ]:
Amazon_products1_style

        style_0 style_1     style_2
0                Format  Board book
1                Format  Hardcover
2                Format  Board book
3                Format  Paperback
4                Format  Hardcover
...         ...     ...         ...
2490405          Format    Audio CD
2490406          Format    Audio CD
2490407          Format    Audio CD
2490408          Format    Audio CD
2490409          Format    Audio CD

[2490410 rows x 3 columns]

In [ ]:
Amazon_products1_style.shape

(2490410, 3)

In [ ]:
Amazon_products1=pd.concat([Amazon_products1,Amazon_products1_style],axis=1)

In [ ]:
Amazon_products1.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,title,price,brand,category,Year,Month,category(1),sub_category(1),style_1,style_2
0,4.0,True,2017-11-07,A2NIJTYWADLK57,0140503528,{'Format:': ' Board book'},cotton clay,kids like story but while i really wanted a bo...,"good story, small size book though",1510012800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2017,11,Office Products,Office & School Supplies,Format,Board book
1,4.0,True,2017-03-07,A2827D8EEURMP4,0140503528,{'Format:': ' Hardcover'},emankcin,bought this used and it came in great conditio...,Good,1488844800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2017,3,Office Products,Office & School Supplies,Format,Hardcover
2,5.0,True,2016-06-25,APB6087F4J09J,0140503528,{'Format:': ' Board book'},Starbucks Fan,every story and book about corduroy is fantast...,Best Books for All Children,1466812800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2016,6,Office Products,Office & School Supplies,Format,Board book
3,5.0,True,2016-02-21,A2DHERRZIPFU7X,0140503528,{'Format:': ' Paperback'},Caitlyn Jacobson,i purchased this book for my first grade class...,Great for Math!,1456012800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2016,2,Office Products,Office & School Supplies,Format,Paperback
4,5.0,False,2015-08-02,A2XCLJRGFANRC,0140503528,{'Format:': ' Hardcover'},E. Ervin,having spent numerous years in an elementary s...,Love Corduroy,1438473600,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2015,8,Office Products,Office & School Supplies,Format,Hardcover

In [ ]:
Amazon_products1.drop(columns=['style1'	,'style_0'],inplace=True)

In [ ]:
cal_missing_value(Amazon_products1)

                 Total  Percentage
summary            395    0.000159
overall              0    0.000000
price                0    0.000000
style_1              0    0.000000
sub_category(1)      0    0.000000
category(1)          0    0.000000
Month                0    0.000000
Year                 0    0.000000
category             0    0.000000
brand                0    0.000000
title                0    0.000000
verified             0    0.000000
unixReviewTime       0    0.000000
reviewText           0    0.000000
reviewerName         0    0.000000
style                0    0.000000
asin                 0    0.000000
reviewerID           0    0.000000
reviewTime           0    0.000000
style_2              0    0.000000

In [ ]:
Amazon_products1=Amazon_products1.dropna()

# Joining to columns.
if we obseve summary and reviewtext column summary is short form for review text so we can combine both them.since there are no nan values.

In [ ]:
Amazon_products1['review_text'] = Amazon_products1[['summary', 'reviewText']].apply(lambda x: " ".join(str(y) for y in x if str(y) != 'nan'), axis = 1)

<ipython-input-62-93253e6df1a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Amazon_products1['review_text'] = Amazon_products1[['summary', 'reviewText']].apply(lambda x: " ".join(str(y) for y in x if str(y) != 'nan'), axis = 1)

# Now we can see that required information is in the dataframe.

In [ ]:
Amazon_products1 = Amazon_products1.drop(['reviewText', 'summary'], axis = 1)
Amazon_products1.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,unixReviewTime,title,price,brand,category,Year,Month,category(1),sub_category(1),style_1,style_2,review_text
0,4.0,True,2017-11-07,A2NIJTYWADLK57,0140503528,{'Format:': ' Board book'},cotton clay,1510012800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2017,11,Office Products,Office & School Supplies,Format,Board book,"good story, small size book though kids like s..."
1,4.0,True,2017-03-07,A2827D8EEURMP4,0140503528,{'Format:': ' Hardcover'},emankcin,1488844800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2017,3,Office Products,Office & School Supplies,Format,Hardcover,Good bought this used and it came in great con...
2,5.0,True,2016-06-25,APB6087F4J09J,0140503528,{'Format:': ' Board book'},Starbucks Fan,1466812800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2016,6,Office Products,Office & School Supplies,Format,Board book,Best Books for All Children every story and bo...
3,5.0,True,2016-02-21,A2DHERRZIPFU7X,0140503528,{'Format:': ' Paperback'},Caitlyn Jacobson,1456012800,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2016,2,Office Products,Office & School Supplies,Format,Paperback,Great for Math! i purchased this book for my f...
4,5.0,False,2015-08-02,A2XCLJRGFANRC,0140503528,{'Format:': ' Hardcover'},E. Ervin,1438473600,A Pocket for Corduroy,0.95,Ingram Book & Distributor,"[Office Products, Office & School Supplies, Ed...",2015,8,Office Products,Office & School Supplies,Format,Hardcover,Love Corduroy having spent numerous years in a...

# Checking style1 column

In [ ]:
Amazon_products1['style_1'].value_counts()

Format      1528917
Size         355906
Color        137469
Style         64582
Package       14239
Item           2320
Number         1719
style          1446
Model           401
Length          285
Edition         254
Product         198
Design           97
Pattern          78
Gift             70
Material         62
Shape            28
Platform         22
Team             11
Flavor            6
Name: style_1, dtype: int64

# Checking style2 column

In [ ]:
Amazon_products1['style_2'].value_counts()

Audio CD        1360443
MP3 Music         86678
1 Pack            34059
DVD               33770
Vinyl             28377
                 ...
2 Booklets            1
Seal10                1
Cartridge 10          1
Seal9                 1
CD ROM                1
Name: style_2, Length: 9619, dtype: int64

# Dropping UnixReviewTime
Because we have Review time  column with same value without seconds.

In [ ]:
Amazon_products1.drop(columns='unixReviewTime',inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

# Checking categiry(1) column

In [ ]:
Amazon_products1["category(1)"].value_counts()

CDs & Vinyl        1575247
Office Products     914373
Name: category(1), dtype: int64

# Checking sub_category(1) column

In [ ]:
Amazon_products1['sub_category(1)'].value_counts()

Office & School Supplies           681353
Pop                                310333
Alternative Rock                   217389
Classic Rock                       140416
Rock                               132293
Office Electronics                 105386
Office &amp; School Supplies       100014
Country                             93193
World Music                         83315
Metal                               82356
R&B                                 70610
Jazz                                69556
Classical                           65818
Dance & Electronic                  50223
Blues                               44327
Rap & Hip-Hop                       41135
Christian                           34652
Broadway & Vocalists                27370
Office Furniture & Lighting         26549
Folk                                22090
Soundtracks                         21429
Opera & Classical Vocal             17815
Holiday & Wedding                   15340
Latin Music                          9955
New Age                              9104
Comedy & Spoken Word                 7905
Children's Music                     4885
Reggae                               2373
Office Furniture &amp; Lighting      1071
Special Interest                      756
Gospel                                752
Karaoke                               252
Name: sub_category(1), dtype: int64

# Replacing name in Subcategory(1) Column
From above we can see the Office &amp; School Supplies   and Office Furniture &amp; Lighting   are misnamed for Office & School Supplies and Office Furniture & Lighting  so replacing them.

In [ ]:
Amazon_products1['sub_category(1)']=Amazon_products1['sub_category(1)'].replace(to_replace='Office Furniture &amp; Lighting',value='Office Furniture & Lighting',regex=True)
Amazon_products1['sub_category(1)']=Amazon_products1['sub_category(1)'].replace(to_replace='Office &amp; School Supplies',value='Office & School Supplies',regex=True)

In [ ]:
Amazon_products1['sub_category(1)'].value_counts()

Office & School Supplies       781367
Pop                            310333
Alternative Rock               217389
Classic Rock                   140416
Rock                           132293
Office Electronics             105386
Country                         93193
World Music                     83315
Metal                           82356
R&B                             70610
Jazz                            69556
Classical                       65818
Dance & Electronic              50223
Blues                           44327
Rap & Hip-Hop                   41135
Christian                       34652
Office Furniture & Lighting     27620
Broadway & Vocalists            27370
Folk                            22090
Soundtracks                     21429
Opera & Classical Vocal         17815
Holiday & Wedding               15340
Latin Music                      9955
New Age                          9104
Comedy & Spoken Word             7905
Children's Music                 4885
Reggae                           2373
Special Interest                  756
Gospel                            752
Karaoke                           252
Name: sub_category(1), dtype: int64

# Checking for null Values.

In [ ]:
cal_missing_value(Amazon_products1)

                 Total  Percentage
overall              0         0.0
brand                0         0.0
style_2              0         0.0
style_1              0         0.0
sub_category(1)      0         0.0
category(1)          0         0.0
Month                0         0.0
Year                 0         0.0
category             0         0.0
price                0         0.0
verified             0         0.0
title                0         0.0
unixReviewTime       0         0.0
reviewerName         0         0.0
style                0         0.0
asin                 0         0.0
reviewerID           0         0.0
reviewTime           0         0.0
review_text          0         0.0

# About TextBlob
 TextBlob is a python library and offers a simple API to access its methods and perform basic NLP tasks.

In [ ]:
from textblob import TextBlob
# create a function to get the subjectivity (opinionated level of text) and polarity -> 

def getPolarity(text):
    return TextBlob(text).sentiment.polarity

In [ ]:
Amazon_products1['review_text']=Amazon_products1['review_text'].astype(str)

In [ ]:
#create a column for polarity:

Amazon_products1['polarity'] = Amazon_products1['review_text'].apply(getPolarity)

# To check if reviews are positive ,neutral and negative.Using the TextBlob for polarity on that basic we can check for what type of review it is.

In [ ]:

def GetAnalysis(score):
    if score <0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

Amazon_products1['sentiment_Analysis'] = Amazon_products1['polarity'].apply(GetAnalysis)

In [ ]:
Amazon_products1['sentiment_Analysis'].value_counts()

Positive    2232071
Negative     132599
Neutral      125345
Name: sentiment_Analysis, dtype: int64

# Most of the reviews are positive in the dataset.

#Loaded the file to drive for then do other analysis for EDA

# Convert the Amazon_products1 into csv format and loaded it to the drive.

In [ ]:
path = '/content/drive/MyDrive/Project /Amazon_products4.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  Amazon_products1.to_csv(f, index=False)